.root {
  position: fixed;
  top: var(--app-shell-header-offset, 0);
  z-index: var(--mantine-z-index-app);
  width: 100%;
  height: var(--page-header-height, 0);
  padding-inline: calc(var(--app-shell-navbar-offset, 0rem) + var(--app-shell-padding))
    calc(var(--app-shell-aside-offset, 0rem) + var(--app-shell-padding));
  background-color: var(--mantine-color-body);

  &[data-with-border] {
    border-bottom: 1px solid var(--app-shell-border-color);
  }
}
