# Dependencies
node_modules

# Compiled output
dist

# Logs
pnpm-debug.log*

# IDEs and editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# System Files
.DS_Store

# Local files
*.local
