.nav_link {
  margin-bottom: var(--mantine-spacing-xs);

  &:first-child {
    margin-top: var(--mantine-spacing-md);
  }

  &:last-child {
    margin-bottom: var(--mantine-spacing-md);
  }
}

.active {
  border: 1px solid var(--mantine-color-blue-outline);
}
