.root {
  transition-property: none; // Workaround to fix elements jumping when opening/closing Navbar (enabledRemoveScroll = true) with page scrollbar
}

.container {
  justify-content: end;

  @include smaller-than($mantine-breakpoint-md) {
    justify-content: center;
  }
}
