// This option can be used to include global project styles

:root {
  --logo-color-hover: #646cffaa;
  --logo-color-hover-alt: #61dafbaa;
  --link-color: #646cff;
  --link-color-hover: #535bf2;
  --button-color-hover: var(--link-color);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  color-scheme: light dark;
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include dark {
  :root {
    --bg-color: #242424;
    --text-color: rgb(255 255 255 / 87%);
    --text-dimmed-color: #888;
    --button-color-bg: #1a1a1a;
  }
}

@include light {
  :root {
    --bg-color: #f9f9f9;
    --text-color: rgb(0 0 0 / 87%);
    --text-dimmed-color: #9c9c9c;
    --button-color-bg: #f3f3f3;
  }
}

#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;

  &:hover {
    color: var(--link-color-hover);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--button-color-bg);
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--button-color-hover);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
