.title {
  font-size: rem(40px);

  @include smaller-than($mantine-breakpoint-md) {
    font-size: rem(28px);
  }
}

.logo {
  width: rem(144px);
  height: rem(144px);
  padding: var(--mantine-spacing-md);
  transition: filter 300ms;
  will-change: filter;

  &:hover {
    filter: drop-shadow(0 0 #{rem(32px)} var(--vite-brand-color));
  }

  @include smaller-than($mantine-breakpoint-md) {
    width: rem(108px);
    height: rem(108px);
  }
}

.react {
  &:hover {
    filter: drop-shadow(0 0 #{rem(32px)} var(--react-brand-color));
  }
}

@media (prefers-reduced-motion: no-preference) {
  a {
    &:nth-of-type(2) {
      .logo {
        animation: logo-spin infinite 20s linear;
      }
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
